<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>uppercase</td>
          <td>{{name | uppercase}}</td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>lowercase</td>
            <td>{{name | lowercase}}</td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>slice:3</td>
            <td>{{name | slice:3}}</td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>slice:0:3</td>
            <td>{{name | slice:0:3}}</td>
        </tr>
        <tr>
            <td>{{array}}</td>
            <td>slice:1:5</td>
            <td>{{array | slice:1:5}}</td>
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number:'3.0-0'</td>
            <td>{{PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number:'1.0-2'</td>
            <td>{{PI | number:'1.0-2'}}</td>
        </tr>
        <tr>
            <td>{{num}}</td>
            <td>percent'</td>
            <td>{{num | percent}}</td>
        </tr>
        <tr>
            <td>{{num}}</td>
            <td>percent:'2.2-2'</td>
            <td>{{num | percent:'2.2-2'}}</td>
        </tr>
        <tr>
            <td>{{salary}}</td>
            <td>currency</td>
            <td>{{salary | currency}}</td>
        </tr>
        <tr>
            <td>{{salary}}</td>
            <td>currency:'EUR'</td>
            <td>{{salary | currency:'EUR'}}</td>
        </tr>
        <tr>
            <td>{{salary}}</td>
            <td>currency:'EUR':true</td>
            <td>{{salary | currency:'EUR':'symbol'}}</td>
        </tr>
        <tr>
            <td>{{salary}}</td>
            <td>currency:'EUR':true:'4.0-0'</td>
            <td>{{salary | currency:'EUR':'symbol':'4.0-0'}}</td>
        </tr>
        <tr>
            <td>{{salary}}</td>
            <td>number:'.2-2'</td>
            <td>{{salary | number:'.2-2'}}</td>
        </tr>
        <tr>
            <td>{{promise1}}</td>
            <td>async</td>
            <td>{{promise1 | async}}</td>
        </tr>
        <tr>
            <td>{{date1}}</td>
            <td>date</td>
            <td>{{date1}}</td>
        </tr>
        <tr>
            <td>{{date1}}</td>
            <td>date:'medium'</td>
            <td>{{date1 | date:'medium'}}</td>
        </tr>
        <tr>
            <td>{{date1}}</td>
            <td>date:'MMMM - dd'</td>
            <td>{{date1 | date:'MMMM - dd'}}</td>
        </tr>
        <tr>
            <td>{{name2}}</td>
            <td>capitalizado</td>
            <td>{{name2 | capitalizado}}</td>
        </tr>
        <tr>
            <td>{{name2}}</td>
            <td>capitalizado:false</td>
            <td>{{name2 | capitalizado:false}}</td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>
                contrasena: {{activar}}
            <br>
            <button (click)="activar = !activar" type="button" class="btn btn-outline-primary">
                Activar/Desactivar
            </button>
            </td>
        
            <td>{{name | contrasena:activar}}</td>
        </tr>
      </tbody>
    </table>
    
    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of array | slice:5:20">{{item}}</li>
    </ul>

    <h4>JSON</h4>
    <pre>{{pet | json}}</pre>

    <h4>YouTube <small>video</small></h4>
    <hr>
    <iframe width="560" height="315" [src]=" video1 | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<br>
<br>