<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(form)" #form="ngForm" novalidate="">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger': (name2.errors?.required || name2.errors?.minlength) && name2.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               [(ngModel)]="user.name"
               required
               minlength="5"
               #name2="ngModel">
        <div *ngIf="name2.errors?.required"
             class="form-control-feedback">
          Este campo es requerido
        </div>
        <div *ngIf="name2.errors?.minlength"
             class="form-control-feedback">
          Este campo requiere mínimo cinco {{name2.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (surname2.errors?.required) && surname2.touched }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="surname"
               [(ngModel)]="user.surname"
               required
               #surname2="ngModel">
        <div *ngIf="surname2.errors?.required"
             class="form-control-feedback">
          Este campo es requerido
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger': (email2.errors?.required || email2.errors?.pattern) && email2.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="user.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email2="ngModel">
      <div *ngIf="email2.errors?.required"
           class="form-control-feedback">
        Este campo es requerido
      </div>
      <div *ngIf="email2.errors?.pattern"
           class="form-control-feedback">
        El campo no cumple con el formato de correo electrónico
      </div>

    </div>
  </div>


  <div class="form-group row" >
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select 
            name="country" 
            class="form-control"
            [(ngModel)]="user.country">
            <option value="">Seleccione un país</option>
            <option *ngFor="let country of countries"
                     [value]="country.code">
                     {{country.name}}
            </option>

      </select>
    </div>
  </div>

  <div class="form-group row" >
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-md-8">
          
        <label  *ngFor="let item of sex"
                class="custom-control custom-radio">
          <input 
                type="radio"
                name="sexo"
                class="custom-control-input"
                [(ngModel)]="user.sex"
                [value]="item">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{item}}</span>
        </label>
        <!-- <label class="custom-control custom-radio">
          <input type="radio"
                 name="sexo"
                 class="custom-control-input"
                 [(ngModel)]="user.sex"
                 value="Mujer">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Mujer</span>
        </label> -->

      </div>
  </div>

  <div class="form-group row" >
      <label class="col-2 col-form-label">Aceptar</label>
      <div class="col-md-8">
          <label class="custom-control custom-checkbox">
              <input type="checkbox"
                     name="accept"
                     class="custom-control-input"
                     [(ngModel)]="user.accept"
                     required>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Acepta las condiciones</span>
          </label>

      </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      
      <button   
        [disabled]="!form.valid"  
        type="submit" 
        class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>


<pre>
  {{user | json}}
</pre>