<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(form)" #form="ngForm" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               [(ngModel)]="user.name"
               required
               minlength="5"
               #name2="ngModel">
        <div *ngIf="name2.errors?.required">
          Este campo es requerido
        </div>
        <div *ngIf="name2.errors?.minlength">
          Este campo requiere mínimo cinco {{name2.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="surname"
               [(ngModel)]="user.surname"
               required
               #surname2="ngModel">
        <div *ngIf="surname2.errors?.required">
          Este campo es requerido
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="user.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email2="ngModel">
      <div *ngIf="email2.errors?.required">
        Este campo es requerido
      </div>
      <div *ngIf="email2.errors?.pattern">
        El campo no cumple con el formato de correo electrónico
      </div>

    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
