<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Películas</h1>
        <p class="lead">Aplicacion demo de películas</p>
    </div>
</div>

<div class="container">
    <br>

    <app-gallery [billboard]="billboard | slice:0:6" title="Películas en Cartelera"></app-gallery>

    <app-gallery [billboard]="popularMovie | slice:0:6" title="Películas populares"></app-gallery>

    <app-gallery [billboard]="popularKidsMovies | slice:0:6" title="Películas populares entre los niños"></app-gallery>

</div>