<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="show" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{sentence.author}}</h5>
                <p class="card-text">{{sentence.message}} </p>
            </div>
        </div>
        <button (click)="show=!show" class="btn btn-outline-primary btn-block">
            Show/Hide
        </button>
    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let pet of pets; let i = index" class="list-group-item">{{i+1}} - {{pet}}</li>
        </ul>
    </div>

</div>