<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.message}}
    </li>
</ul> -->

<div class="container main-container">
    <h1>App Firechat</h1>

    <div class="col-md-12 text-right" *ngIf="chatService.userFirebase.uid">
        <button type="button" class="btn btn-outline-danger" (click)="chatService.logout()"> 
            Salir
        </button>

    </div>

    <app-login *ngIf="!chatService.userFirebase.uid"></app-login>

    <!-- <div class="chat-window">
        <app-chat></app-chat>
    </div> -->

</div>