<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="save()">

  <div formGroupName="fullName">
    <!-- [ngClass]="{'has-danger': (!form.get('name').valid) && form.get('name').touched}" -->
    <div class="form-group row" [ngClass]="{'has-danger': (!form.controls['fullName'].controls['name'].valid) && form.controls['fullName'].controls['name'].touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="name">
        <div *ngIf="form.get('fullName.name').errors?.required"
               class="form-control-feedback">
            Este campo es requerido
        </div>
        <div *ngIf="form.get('fullName.name').errors?.minlength"
             class="form-control-feedback">
            Este campo requiere mínimo {{form.get('fullName.name').errors?.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <!-- [ngClass]="{'has-danger': (!form.get('surname').valid) && form.get('surname').touched}" -->
    <div class="form-group row" [ngClass]="{'has-danger': (!form.controls['fullName'].controls['surname'].valid) && form.controls['fullName'].controls['surname'].touched}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="surname">
         <div *ngIf="form.controls['fullName'].controls['surname'].errors?.required"
             class="form-control-feedback">
          Este campo es requerido
        </div> 
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger': (!form.controls['email'].valid) && form.controls['email'].touched}">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email">
      <div *ngIf="form.controls['email'].errors?.required"
             class="form-control-feedback">
          Este campo es requerido
      </div>
      <div *ngIf="form.controls['email'].errors?.pattern"
             class="form-control-feedback">
          El campo no cumple con el formato de correo electrónico
      </div>   

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Hobby</label>
    <div class="col-md-8" formArrayName="hobby">
      <input  *ngFor="let h of form.controls['hobby'].controls; let i = index"
              [formControlName]="i"
              type="text" 
              class="form-control">
    </div>
    <button (click)="saveHobby()"
            type="button"
            class="btn btn-primary">
          Nuevo
    </button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">
      <input 
              type="password" 
              class="form-control"
              placeholder="Password"
              formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir</label>
    <div class="col-md-8">
      <input 
              type="password" 
              class="form-control"
              placeholder="Repetir Password"
              formControlName="password2">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

   {{form.valid}} 

</form>