<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input  type="text"
                        name="search"
                        placeholder="Buscar una película"
                        [(ngModel)]="search"
                        class="form-control"
                        (keyup.enter)="getMovie()"
                >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-columns">
            <div class="card" *ngFor="let movie of searchMovies">
                <img [src]="movie | movieImage" class="card-img-top" alt="movie.original_title">
                <div class="card-body">
                    <h5 class="card-title">{{movie.original_title}}</h5>
                    <p class="card-text text-justify">{{movie.overview | slice:0:250}} ...</p>
                    <button type="button"
                            class="btn btn-outline-primary btn-block">
                        Ver mas..
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>